<app-header></app-header>

<div class="row">
    <div class="col-md-3" style="padding-left:3%">
     <section  class="instruction m-t-lg">
        <div >
            <!-- <div class="row"> -->
    
                <div class="row" >
                    <h5 class="text-success m-b-sm">
                        Adding test with csv file
                    </h5>
                    <p >
                        You need to follow some instruction to upload the test via csv file. The instructions are mentioned below
                    </p>
                </div>

                <br>

                    <div class="row" >
    
                        <h5 class="text-success m-b-sm">Instructions: </h5>
                    
                            <label>Step: 1</label>
                            <small>Enter the test details. Make sure the details are correct. Once published, details can't be edited.
                            </small>
                    
                    </div>
                    <br>
                        <div class="row">
                                <label>Step: 2</label>
                                <small>There are two ways to add Questions, one is to upload via .csv, make sure to download the format before upload and other way to manually add questions</small>
                        </div>
                       <br>
                    <div class ="row">
                        <label>Step: 3</label>
                        <small>After adding questions,publish the test otherwise it will available in draft</small>
                    </div>
              
            <!-- </div> -->
    
        </div>
    </section>
</div>
<div class="col-md-9">
<router-outlet></router-outlet>
</div>
</div>

<!-- Footer-->
<div id="footer" class="app-footer">
        <div class="section-content">
            <div class="col-sm-6">
                <ul class="list-inline no-margins">
                    <li class="hidden-xs">
                        <a>cfeindia</a>
                    </li>
                    <li>
                        <a>Blogs</a>
                    </li>
                    <li>
                        <a>Careers</a>
                    </li>
                    <li>
                        <a>Documentation</a>
                    </li>
                    <li>
                        <button class="btn  btn-xs btn-info btn-outline" style="font-weight:  600;"> Support</button>
                    </li>
                </ul>
            </div>
    
            <div class="col-sm-6">
                <ul class="list-inline pull-right no-margins">
                    <li>
                        <a>Terms of Service</a>
                    </li>
                    <li>
                        <a>Privacy</a>
                    </li>
                    <li>
                        <a>Cookies</a>
                    </li>
                    <li>© 2018 cfeindia.com</li>
                </ul>
            </div>
    
        </div>
    </div>
    
