<table class="table table-hover">
  <tbody>
    <tr>
      <th scope="row">1.</th>
      <td>Test Name</td>
      <td>Aptitude</td>
    </tr>
    <tr>
      <th scope="row">2.</th>
      <td>Test Category</td>
      <td>Aptitude</td>
    </tr>
    <tr>
      <th scope="row">3.</th>
      <td>Added Questions</td>
      <td>30</td>
    </tr>
    <tr>
      <th scope="row">4.</th>
      <td>Test Level</td>
      <td>Basic</td>
    </tr>
    <tr>
      <th scope="row">5.</th>
      <td>Test Duration</td>
      <td>30 min</td>
    </tr>
    <tr>
      <th scope="row">6.</th>
      <td>Enter test code</td>
      <td>_______</td>
    </tr>
  </tbody>
</table>