<nav class="navbar fixed-top navbar-custon">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">CFE India</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <!-- <li [routerLinkActive] ="['active']" ><button class="button dark-blue" [routerLink] ="['/']">Login </button></li> -->
        <!-- <li [routerLinkActive] ="['active']"><button class="button dark-blue" [routerLink] ="['register']">Register </button></li> -->
        <li class="nav-link" [routerLinkActive]="['active']">
          <a class="link-text link-icon bg-gray" [routerLink]="['/register']">
            <span class="ic">
              <i class="ion-paper-airplane"></i>
            </span>
            &nbsp; Register

          </a>

        </li>

      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>