<div class="content">
  <form class="form-horizontal">

    <div class="row">
      <div class="col-md-2"></div>
      <div class="form-group col-md-4">
        <label>Programming Language</label>
        <input name="testName" type="text" class="form-control" id="testName" placeholder="c++,c.python" required>
      </div>
      <div class="col-md-1"></div>
      <div class="form-group col-md-4">
        <label>Database</label>
        <input class="form-control" id="category" name="category" placeholder="MongoDb" type="text" required>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="form-group col-md-4">
        <label>Operating System</label>
        <input name="testName" type="text" class="form-control" id="testName" placeholder="Linux" required>

      </div>
      <div class="col-md-1"></div>

      <div class="form-group col-md-4">
        <label>Software</label>
        <input class="form-control" id="category" name="category" placeholder="Software" type="text" required>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="form-group col-md-4">
        <label>Mobile Development</label>
        <input name="testName" type="text" class="form-control" id="testName" placeholder="IOS" required>

      </div>
      <div class="col-md-1"></div>

      <div class="form-group col-md-4">
        <label>Web Developmnt</label>
        <input class="form-control" id="category" name="category" placeholder="NodeJs,HTML....." type="text" required>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="text-right m-t-xs">
      <button class="btn btn-primary next" type="submit">Save</button>
    </div>
  </form>
</div>