<div class="login-container" style="padding-top:2%">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center ">
        <img src="../../assets/images/logo-lg.png" alt="cfex_india" class="logo-center">
      </div>
      <div class="hpanel">
        <div class="panel-body" style="background: #f6f6f6;">
          <h3 class="p_col">Log in to your account</h3>
          <form novalidate (ngSubmit)="onLoginSubmit(f.valid)" #f="ngForm" class="form-horizontal" id="validate-form">
            <input name="_csrf" type="hidden" value="spsnCkeoxxWA6m9MBC3W1WTqG5eZFVRddlqiOWi4EsA=">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <input name="email" type="text" class="form-control inp-mod" placeholder="Email" required [(ngModel)]="email" #email1="ngModel">
                <div *ngIf="email1.errors && (f.submitted||email1.dirty)">
                  <h5 *ngIf="email1.errors.required" class="inputError">Email is required !</h5>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-lock" aria-hidden="true"></i>
                </div>
                <input name="password" type="password" class="form-control inp-mod" id="exampleInputPassword1" placeholder="Password" required
                  [(ngModel)]="password" #password1="ngModel">
                <div *ngIf="password1.errors&& (f.submitted||password1.dirty)">
                  <h5 *ngIf="password1.errors.required" class="inputError">Password is required !</h5>
                </div>
              </div>
            </div>
            <div>
              <button class="btn btn-primary btn-md btn-block btn-mod" name="commit" tabindex="3" type="submit" value="Log In">Log In</button>
            </div>
          </form>
          <div class="login-footer">
            <a class="panel-footer-mod" [routerLink]="['/register']">Don't have Account? &nbsp;
              <span style="color: #1c2cea;font-weight:  bold;">Sign Up</span>
            </a>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>