<div class="assign-test">
  <div class="test-list">
    <table class="test-table">
      <tbody>
        <tr>
          <td colspan="1" class="t-index">1</td>
          <td colspan="3" class="t-name">Test 1</td>
          <td colspan="3" class="t-duration"> Duration: 30 Minutes</td>
          <td colspan="2" class="t-action">
            <button class="button med dark-blue">Take Test</button>
               <button class="button med dark-blue">Resume Test</button>
          </td>
      </tbody>
    </table>
  </div>
</div>
