/* Common button styles */

.button {
  width: 150px;
  display: block;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.19), 0 0px 0px rgba(0, 0, 0, 0.23);
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

p.timer {
  padding-left: 10px;
  margin: 2px 0px;
}

.ques-navigation {
  margin: 10px;
}

.light-blue {
  background: #66bfbf;
  border: #66bfbf;
  color: #fff;
}

.soft-blue {
  background: transparent;
  border: 1px solid #66bfbf;
  color: #66bfbf;
}

.dark-blue {
  background: #66bfbf;
  border: #66bfbf;
  color: #fff;
}

.button:focus {
  outline: none;
}

.button > span {
  vertical-align: middle;
}

.test-name h3 {
  margin-top: 30px;
  padding: 10px 0px;
  color: #2e89ba;
  text-align: center;
}

ul.numbers-row li {
  display: inline-block;
  margin: 10px;
  list-style: none;
}

.question-container {
  padding: 10px 20px;
}

p.qs {
  margin: 0px !important;
}

td.ques {
  padding: 10px 10px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
}

td.answers {
  padding: 10px 10px;
  border: 1px solid #ffffff;
  background: #fff;
  border-top: 1px solid #e6e6e6;
}

p.qs {
  font-size: 105%;
  color: #626060;
  float: left;
}

td {
  padding: 5px 5px;
}

.timer {
  padding: 4px;
}

input[type='checkbox'] {
  height: 20px;
  width: 20px;
  border: none;
  background: none !important;
}

ul.numbers-row {
  margin-bottom: 0px;
  float: left;
}

ul.numbers-row li {
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 3px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: gray;
  cursor: pointer;
}

li.done {
  background-color: #8bc34a !important;
  color: white !important;
}

li.done a {
  color: #fff !important;
}

ul.numbers-row li a {
  color: gray;
}

ul.numbers-row li a:hover {
  text-decoration: none;
}

ul.numbers-row li a:hover {
  text-decoration: none;
}

.instructions {
  text-align: center;
  padding-top: 30px;
}

.number-container {
  margin-top: 10px;
}

.cta-container {
  padding-bottom: 10px;
}

ul.inst li {
  list-style: none;
  padding: 5px;
}

li.bd span {
  padding-right: 10px;
  font-size: 24px;
}

p.idd {
  line-height: 40px;
  font-size: 105%;
  color: #616161;
  margin-left: -20px;
}

@media only screen and (max-width: 600px) {
  .col-md-5.right-side {
    margin-top: 100px;
  }
  .instructions > .col-xs-4 {
    display: none;
  }
}

li.bb {
  border: 2px solid #539b9b !important;
  background-color: #66bfbf !important;
  color: white !important;
  box-shadow: 2px 3px 5px #0000002e;
  cursor: pointer;
}

li.bb a {
  color: white !important;
  text-decoration: none !important;
}

.time_submit {
  height: 60px;
  padding-top: 10px;
  border-radius: 3px;
}
.time_submit.pull-right .col-xs-4{
  padding-right: 0;
}
.time_submit.pull-right .col-xs-2{
  padding-left: 0;
  /* padding-top: 7px; */
  margin-top: 4px;
}
.col-xs-2 .btn.btn-default{
  font-size: 22px;
  color: #ffb606;
  font-weight: 900;
}
/*------------------------------------*/

/*------------------------------------*/

/*------------------------------------*/

.number-container {
  margin-top: 40px;
  overflow-y: visible;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 2;
  height: calc(65vh - 60px);
}

table {
  display: none;
}

.show {
  display: table !important;
}

label {
  cursor: pointer;
}

li.new {
  background-color: orange !important;
  color: white !important;
}

li.back {
  background-color: #f5f5f5 !important;
  color: gray !important;
}

table {
  border-collapse: separate !important;
}

tbody.question-box {
  box-shadow: 1px 1px 4px #00000052;
}

.clear-icon {
  position: absolute;
  cursor: pointer;
  height: 20px;
  right: 2%;
}

.clear-icon i {
  color: #d9534e;
}

.clear-icon i:hover {
  font-weight: 600;
  font-size: 110%;
  transition: 0.3s linear;
}

@media only screen and (max-width: 450px) {
  .button {
    width: 80px;
    display: block;
    padding: 8px;
    border-radius: 4px;
  }
}
/* ==========Calculator Display Box===================*/
div.open{
  display:block;
}
.calculator-app-toggle
{
  display:none;
}