


<app-header></app-header>
<!-- 
<div id="wrapper" style="padding-top: 64px;">
  <div id="layout-static">
    <div class="static-sidebar-wrapper sidebar-default">
    <app-sidebar></app-sidebar>
    </div> -->
<!---------------------------------------------------------------content area downside---------------------------------------------------------->
<!-- 
    <div class="static-content-wrapper">
      <div class="static-content">
        <div class="page-content">
          <ol class="breadcrumb">

            <li class=""><a href="#">Home</a></li>
            <li class="active"><a href="#">Dashboard</a></li>

          </ol>
          <div class="page-heading">
            <h1>Dashboard<small>Project Statistics</small></h1>
            <div class="options">
              <div class="btn-toolbar">


              </div>
            </div>
          </div>


          <div class="container-fluid">


            <div data-widget-group="group1">

              Coming
 -->


            <!-- </div> -->
            <!-- .container-fluid -->
          <!-- </div> -->
          <!-- #page-content -->
        <!-- </div>
        <footer role="contentinfo">
          <div class="clearfix">
            <ul class="list-unstyled list-inline pull-left">
              <li>
                <h6 style="margin: 0;">Coming</h6>
              </li>
            </ul>
          </div>
        </footer>

      </div>
    </div> -->

<!----------------------------------------------------------------Content area is upside------------------------------------>
  <!-- </div> -->

  <app-info></app-info>
<!-- </div> -->



