<div class="container" id="login-form">
  <br>
  <h3 class="heading-text text-center">
    <img class="img-responsive" src="../../../assets/media/logo.png" style="margin: 0 auto">
  </h3>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px); margin:7vh auto;">
        <div class="panel-heading">
          <h2 class="text-center">Account Activation</h2>
        </div>
        <div>
          <p>{{ message }}</p>
        </div>
      </div>
    </div>
  </div>
</div>