<div class="content">
  <!-- <div class="col-md-8"> -->
  <form class="form-horizontal">



    <div class="tab-content">
      <div id="step1" class="p-m tab-pane active">
        <label>UnderGraduate:</label>
        <div class="form-group row">
          <p class="col-md-2 control-label">Percentage</p>
          <div class="col-md-2">
            <input type="email" class="form-control" id="inputEmail3" placeholder="76%">
          </div>
          <p class="col-md-2 control-label">Passing Year</p>
          <div class="col-md-2">
            <input type="email" class="form-control" id="inputEmail3" placeholder="2018">
          </div>
          <p class="col-md-2 control-label">University</p>
          <div class="col-md-2">
            <input type="email" class="form-control" id="inputEmail3" placeholder="MDU">
          </div>
        </div>

        <label>12th Standard:</label>
        <div class="form-group row">
          <p class="col-md-2 control-label">Percentage</p>
          <div class="col-md-2">
            <input type="email" class="form-control" id="inputEmail3" placeholder="76%">
          </div>
          <p class="col-md-2 control-label">Passing Year</p>
          <div class="col-md-2">
            <input type="email" class="form-control" id="inputEmail3" placeholder="2018">
          </div>
          <p class="col-md-2 control-label">Board</p>
          <div class="col-md-2">
            <input type="email" class="form-control" id="inputEmail3" placeholder="CBSE">
          </div>
        </div>
        <label>10th Standard:</label>
        <div class="form-group row">
          <p class="col-md-2 control-label">Percentage</p>
          <div class="col-md-2">
            <input type="email" class="form-control" id="inputEmail3" placeholder="76%">
          </div>
          <p class="col-md-2 control-label">Passing Year</p>
          <div class="col-md-2">
            <input type="email" class="form-control" id="inputEmail3" placeholder="2018">
          </div>
          <p class="col-md-2 control-label">Board</p>
          <div class="col-md-2">
            <input type="email" class="form-control" id="inputEmail3" placeholder="CBSE">
          </div>
        </div>

        <div class="text-right m-t-xs">
          <button class="btn btn-primary next" type="submit">Save</button>
        </div>

      </div>


    </div>
  </form>
  <!-- </div> -->
</div>